.main{
    width: 20%;
    height: 25%;
    margin: 2em !important;
    padding: 2em !important;
    position: auto;

    margin-inline-start: 480px;

}

.sizeImg{
    width: 110%;
    height: 130%;
}
